@tailwind base;
@tailwind components;
@tailwind utilities;


.open-sans-fontClass {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
